@import url('https://fonts.googleapis.com/css2?family=Arya:wght@400;700&family=Zilla+Slab:wght@300;400;500;600;700&display=swap');

a {
  text-decoration: none;
}

h1 {
  font-family: Poppins;
  font-size: 120px;
}

#category {
  font-family: Poppins;
  font-weight: 500;
}

#title {
  letter-spacing: 0.4px;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.13636;
}

#banner {
  margin: 20px;
  height: 800px;
}

#editor {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
}

.uk-navbar-container {
  background: #031458 !important;
  font-family: Poppins;
 }

.uk-navbar-container a {
color: #ffffff !important;
}

.uk-navbar-container a:hover {
  text-decoration:underline !important;
}

img:hover {
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.whitetext{
  color: #ffffff !important;
  letter-spacing: .3rem;
}
.thintext{
  font-weight: 100;
  letter-spacing: .1rem;
}

.toplogo{
max-height: 6rem;
margin: 0 auto !important;
}

.headerbg{
  background-color: #29539b;
  background-image: linear-gradient(315deg, #29539b 0%, #1e3b70 74%) !important;
}

.recipeTitle{
  font-family: Arya;
  font-size: 5rem;
  text-align: center;
  font-weight: 700;
}

.recipe h1{
  font-family: Arya;
  font-size: 3rem;
}

.recipe h2{
  font-family: Arya;
  font-size: 2rem;
  letter-spacing: 1px;
}

.recipe strong{
  font-family: Zilla Slab;
  padding-top: 2vh;
  padding-bottom: 2vh;
  font-weight: 600;
  letter-spacing: 1px;
}

.recipe p{
  font-family: Zilla Slab;
  font-size: 1.2rem;
}

.imageContainer{
display: block;
height: 60vh;
width: auto;
margin: 0 auto;
padding: 1rem;
background-repeat: no-repeat;
background-position: center; 
}

.headerImage{
  height: 100%;
  width: auto;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center; 
}